<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2" style = "padding-top:80px">
    <ul class="nav nav-list">
	  <li>Account</li>
	  <li><a href="/spending">Spending</a></li>
	  <li><a href="/map">Map</a></li>
	</ul>
    </div>
    <div class="span10 extrapaddingtop">
    	<h1 id="balance" style="float:right; padding-right:50px">$<%= balance %></h1>
    	<table class="table table-bordered">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Venue</th>
                  <th>Category</th>
                  <th>Menu</th>
                  <th>Expense</th>
                </tr>
              </thead>
              <tbody>
            <% for(var i=0; i<account.length; i++) {%>
                <tr>
                  <td><%= account[i].date %></td>
                  <td><%= account[i].venueName %></td>
                  <td><%= account[i].category %></td>
                  <% if(account[i].menu.url == "undefined") {%>
                  <td>N/A</td>
                  <%} else {%>
                  <td><a class="menulink"href=<%= account[i].menu.url %>>Menu</a></td>
                  <%}%>
                  <td>
					<input id=<%= account[i].checkinId %> type="text" name="spend" class="span4" placeholder=<%= account[i].spent %>>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
    </div>
  </div>
</div>

